/* src/App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your additional styles */


.App {
  text-align: center;
}

/* body {
  background-color: #6801B5;
}

button {
  transition: .5s ease-in-out;
  border-radius: 10px;
}

button:hover {
  background-color: chocolate;
  border-radius: 50%;
} */